127.0.0.1       localhost

ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

{{range $dir := lsdir "/hosts/master/"}}{{$ip := printf "/hosts/master/%s/ip" $dir}} {{$role := printf "/hosts/master/%s/role" $dir}}
{{getv $ip}} {{$dir}} {{getv $role}} {{end}}
{{range $dir := lsdir "/hosts/node/"}}{{$ip := printf "/hosts/node/%s/ip" $dir}} {{$role := printf "/hosts/node/%s/role" $dir}}
{{getv $ip}} {{$dir}} {{getv $role}} {{end}}
{{range $dir := lsdir "/hosts/log/"}}{{$ip := printf "/hosts/log/%s/ip" $dir}} {{$role := printf "/hosts/log/%s/role" $dir}}
{{getv $ip}} {{$dir}} {{getv $role}}{{end}}
{{range $dir := lsdir "/hosts/ca/"}}{{$ip := printf "/hosts/ca/%s/ip" $dir}} {{$role:= printf "/hosts/ca/%s/role" $dir}}
{{getv $ip}} {{$dir}} {{getv $role}}{{end}}
{{range $dir := lsdir "/hosts/client/"}}{{$ip := printf "/hosts/client/%s/ip" $dir}} {{$role:= printf "/hosts/client/%s/role" $dir}}
{{getv $ip}} {{$dir}} {{getv $role}}{{end}}
